*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-image: url("11n.png"); */
    background-size:100% 100vh;
    background-repeat: no-repeat;
    
    /* position: absolute; */
}

#heading{
    font-size: 3em;
    font-family: 'Palette Mosaic', cursive;
    padding: 3px  30px;
    color: white;
}

#content{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    /* top: 5.5em; */
}
@media screen and (max-width: 480px ) {
    .container{
        flex-direction: column;
        background-color: aqua;
        justify-content: center;
        align-items: center;
        position: fixed;
    
    }
    
    #content{
        top: 5.5em;
        /* flex-direction: column; */
        /* right: 2em; */
    }
    #temp-icon{
        justify-content: center;
    }
    


    
    

    

}
#dt{
    /* font-family: cursive; */
    margin: 1em;
    display: inline-block;
    width: 20%;
    margin: 1em;
    position: relative;
    /* top: -91px; */
    color: #eee;
    right: 2em;
}
#date{
    font-size: 1.5em;
    margin: 2px 5px;
}
#time{
    font-size: 2em;
}



.weather-container{
    border: 3px solid;
    display: inline-block;
    margin: 2em 4em;
    background-color: rgba(24,24,27,0.5);
    color: #eee;
    border: 2px solid #eee;
    /* min-width: 25px; */
    /* text-align: center; */
    width: 60%;
    text-transform: capitalize;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    /* padding: 15px; */
    /* position: fixed; */
    /* top: 0px; */
    width: 100%;
    /* overflow: scroll; */
    
    
}
#container{
    /* width: 374vh; */
    background-color:rgba(0,0 , 0, 0.3);
    color:black;
    opacity: 5;
}
#search{
    margin: 2px 30px;
    display: flex;
    align-items: center;
}
#search input{
    padding: 5px 15px;
    border-radius: 19px;
    /* width: 248px; */
    border: none;
    outline: none;
    /* background-color: rgba(255, 255, 255, 0.5); */
    color: black;

}
#search button{
    border-radius:50% ;
    border:none;
    outline: none;

    padding: 2px 4px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: 2px 2px;
    cursor: pointer;
}
#search button img{
    width: 20px;
    height:20px;


}


#city{
    font-size: 2em;
    padding: 0.2em 0.6em;
    /* margin: 2px 2px; */
}



#temp-icon{
    /* margin:2px 2px; */
    /* justify-content: center */
    align-items:center ;
    display: block;
    justify-content: space-around;

}

#temp{
    font-size: 2.5em;
    margin: 0.2em 0.3em;
}
#icon img{
    width: 4em;
    height: 4em;
    margin: 0.3em 0.8em;


}

#discr
{
    font-size: 1.6em;
    /* padding: 0.3em 1em; */
    margin-top: -0.8em;
}

#footer-heading{
    /* border: 2px solid; */
    background-color:rgba(24, 24, 27, 0.5);
    /* margin: 0px 5px; */
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#footer{
    display: flex;
    justify-content: space-between;
    justify-content: start;
    


}

.future{
    width: 25%;
    color: #eee;
    text-align: center;
    font-size: 2em;
    border: 2px solid white;
    margin: 1px 10px;
    border-radius: 15px;
}
.future img{
    width: 40px;
    height: 40px;

}

#ampm{
    margin: 6px 2px;
    font-size: 25px;
}

#footer-head{
    color: #eee;
    position: relative;
    top: -12px;
    margin: -1px;

}
#ftemp{
    font-size: 0.7em;
}

#fhead{
    background-color: #3c3c44;
    padding: 2px;
    border-radius: 50px;
    margin: 5px 2px;
}

#dthead{
    font-size: 1.2em;
    

}

#speed {
    display: flex;
    font-size: 1.5em;
    /* margin: 2px 2px; */
    padding: 2px 15px ;
    justify-content: space-around;
    /* margin-bottom: 2px; */
}

#humhead{
    display: flex;
    font-size: 1.5em;
    padding: 2px 15px;
    margin-bottom:2px ;
    justify-content: space-around;
}

