<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>


    <!-- ///////titan/////////  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
    <!-- ////////////ALice///////// -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <!-- ///////////////////// -->
    <link rel="stylesheet" href="css/home.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Document</title>
</head>
<body>


    <script>
        
        let flashSucc = '<%= flash.success %>';
        
         
         if( flashSucc){
            new Noty({
                theme: 'mint',
                text : flashSucc,
                type: 'success',
                layout : 'topRight',
                timeout: 10000,
                progressBar:true,
            }).show();       
        } 


        let flasherr = '<%= flash.error %>';
        

         if(flasherr){
            new Noty({
                theme: 'mint',
                text: flasherr,
                type : "error",
                layout : 'topRight',
                timeout: 5000,
                progressBar:true,
            }).show();
        } 
                
            
    
    
        </script>
    
    
    

    <header>
        <h1>Travel<span id="ex">EX</span></h1>
        
    </header>
    <main>
        <div id = "left">
            <div id="lefthead">
                <h1>Share your Travel journey with your Frined's</h1>
            </div>
            <div id="travelImg">
                <!-- <img src="img/travel.webp" alt=""> -->
            </div>
        </div>
        <section id="right">
            <div id="login">
                <form action="/create/sign-in" method="post">
                    <h1>Sign-In</h1>
                    <input type="email" name="email" placeholder="username/email" required>
                    <input type="password" name="password" placeholder="password" required>
                    <input type="submit" value="Login" id="login-btn" style="cursor: pointer;">
                </form>
                <div id="line">
                    <div id="line1"></div>
                    <div id="or">OR</div>
                    <div id="line2"></div>
                </div>
                <div>
                    <h2>
                        <a href="#">Forgot Password?</a>
                    </h2>
                </div>
            </div>
            <div id="sign-up">
                <h3>
                    Don't have an account? 
                    <a href="/sign-up">Sign Up</a>
                </h3>
            </div>
        </section>
        
    </main>
    

  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>

